<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 140px;
        height: 140px;
      }
    </style>
    <div class="container">
        <div class="row">
          <h1 class="col-lg-12">Gestor De Clientes</h1>
          <button type="button" class="btn btn-primary" name="button" on-click="obtenerClientes">Obtener Clientes</button>
          <button type="button" class="btn btn-secondary" name="button" on-click="anadirClientes">Registrar Clientes</button>
        </div>
        <div class="row">
          <table hidden$="[[noCargados]]" class="table table-striped col-xs-12">
            <thead>
                <th>CustomerID</th>
                <th>ContactName</th>
                <th>Country</th>
                <th>Phone</th>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{clientes}}">
                  <tr>
                    <td>[[item.CustomerID]]</td>
                    <td>[[item.ContactName]]</td>
                    <td>[[item.Country]]</td>
                    <td>[[item.Phone]]</td>
                  </tr>
              </template>
            </tbody>
          </table>
        </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientesComponent extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          noCargados: {
            type: Boolean,
            value: true
          },
          respuesta: {
            type: Object
          }
        };
      }
      obtenerClientes() {
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
        this.noCargados = false;
      }
      anadirClientes() {
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        var nuevoCliente = {"CustomerID":"12345", "ContactName": "Charls Xavier", "Country": "Colombia", "Phone": "+57 123-45-67"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
        this.noCargados = false;
      }
    }

    window.customElements.define(GestorClientesComponent.is, GestorClientesComponent);
  </script>
</dom-module>
