<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
      img {
        width: 350px;
      }
    </style>
    <div class="container">
        <div class="row">
            <img clas="col-sm-8 col-xs-12" src="https://image.flaticon.com/icons/svg/1651/1651656.svg"/>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success col-xs-12" on-click="incrementar">Cargar Datos</button>
            <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
            <input type="text" name="" value="[[prop1]]">
        </div>
        <div class="row">
            <table class="table table-striped col-xs-12">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Lastname</th>
                </thead>
                <tbody>
                    <tr>
                        <td>[[prop2]]</td>
                        <td>1</td>
                        <td>Selena</td>
                        <td>Mora</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Maria</td>
                        <td>Torres</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisorComponent extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indique su usuario:'
          }
        };
      }
      incrementar() {
        this.prop2 += 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisorComponent.is, MiVisorComponent);
  </script>
</dom-module>
